   body {
       background-color: black;
       color: white;
       padding: 20px;
       width: 250px;
       font-size: 14px;
       font-family:'JetBrains Mono', mono;
   }
   
   .space {
       display: flex;
       justify-content: space-between;
   }

   .center { 
       margin:auto;
       padding-left: 4px;
   }